In [1]:
import pandas as pd

df = pd.read_csv("driver_imgs_list.csv")
df.head()

  subject classname            img
0    p002        c0  img_44733.jpg
1    p002        c0  img_72999.jpg
2    p002        c0  img_25094.jpg
3    p002        c0  img_69092.jpg
4    p002        c0  img_92629.jpg

In [2]:
df.shape

(22424, 3)

In [5]:
df.iloc[0,0]

'p002'

In [6]:
driver_id = []
for i in range(df.shape[0]):
    if df.iloc[i, 0] not in driver_id:
        driver_id.append(df.iloc[i, 0])

In [7]:
driver_id

['p002',
 'p012',
 'p014',
 'p015',
 'p016',
 'p021',
 'p022',
 'p024',
 'p026',
 'p035',
 'p039',
 'p041',
 'p042',
 'p045',
 'p047',
 'p049',
 'p050',
 'p051',
 'p052',
 'p056',
 'p061',
 'p064',
 'p066',
 'p072',
 'p075',
 'p081']

In [10]:
driver_dict = {i: 0 for i in driver_id}
for i in range(df.shape[0]):
    driver_dict[df.iloc[i, 0]] += 1

In [11]:
driver_dict

{'p002': 725,
 'p012': 823,
 'p014': 876,
 'p015': 875,
 'p016': 1078,
 'p021': 1237,
 'p022': 1233,
 'p024': 1226,
 'p026': 1196,
 'p035': 848,
 'p039': 651,
 'p041': 605,
 'p042': 591,
 'p045': 724,
 'p047': 835,
 'p049': 1011,
 'p050': 790,
 'p051': 920,
 'p052': 740,
 'p056': 794,
 'p061': 809,
 'p064': 820,
 'p066': 1034,
 'p072': 346,
 'p075': 814,
 'p081': 823}