In [1]:
import pandas as pd

df = pd.read_csv("sample_submission.csv")
df.head()

              img   c0   c1   c2   c3   c4   c5   c6   c7   c8   c9
0       img_1.jpg  0.1  0.1  0.1  0.1  0.1  0.1  0.1  0.1  0.1  0.1
1      img_10.jpg  0.1  0.1  0.1  0.1  0.1  0.1  0.1  0.1  0.1  0.1
2     img_100.jpg  0.1  0.1  0.1  0.1  0.1  0.1  0.1  0.1  0.1  0.1
3    img_1000.jpg  0.1  0.1  0.1  0.1  0.1  0.1  0.1  0.1  0.1  0.1
4  img_100000.jpg  0.1  0.1  0.1  0.1  0.1  0.1  0.1  0.1  0.1  0.1

In [30]:
b = [0.1] * 10

In [20]:
df[df['img'] == 'img_' + str(i) + '.jpg'].iloc[:,1:11] = b

/Users/zb/anaconda/lib/python3.6/site-packages/pandas/core/indexing.py:477: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [29]:
df[df['img'] == 'img_' + str(i) + '.jpg'].index

Int64Index([1], dtype='int64')

In [32]:
df.iloc[df[df['img'] == 'img_' + str(i) + '.jpg'].index,1:11] = b

In [44]:
i = 4
df[df['img'] == 'img_' + str(i) + '.jpg']

             img   c0   c1   c2   c3   c4   c5   c6   c7   c8   c9
27661  img_4.jpg  4.0  4.0  4.0  4.0  4.0  4.0  4.0  4.0  4.0  4.0

In [43]:
for i in range(4):
    df.iloc[df[df['img'] == 'img_' + str(i+1) + '.jpg'].index,1:11] = a[i]

In [40]:
import numpy as np

a = np.array([[1]*10,[2]*10,[3]*10,[4]*10])

In [47]:
df.to_csv('sample_submission.csv', index=None)

In [48]:
df.head()

              img   c0   c1   c2   c3   c4   c5   c6   c7   c8   c9
0       img_1.jpg  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0
1      img_10.jpg  0.1  0.1  0.1  0.1  0.1  0.1  0.1  0.1  0.1  0.1
2     img_100.jpg  0.1  0.1  0.1  0.1  0.1  0.1  0.1  0.1  0.1  0.1
3    img_1000.jpg  0.1  0.1  0.1  0.1  0.1  0.1  0.1  0.1  0.1  0.1
4  img_100000.jpg  0.1  0.1  0.1  0.1  0.1  0.1  0.1  0.1  0.1  0.1